<!DOCTYPE html>
<html lang ="es">

  <head>
    
    <!-- Encabezado y Menu Navegación
    ================================================== -->

    <%= render "layouts/menu" %>

  </head>
  
  <body>
  
  	  <!-- Carousel
    ================================================== -->

    <%= render "layouts/carrusel" %>  
  
  </body>


  <footer>
  

  </footer>

</html>