 <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Commissioning & Engineering Services. <span class="text-muted">Visión Correcta</span></h2>
          <p class="lead"> Es una STAR-UP que presta servicios de comisionamiento en la nube a los proyectos de construcción en cualquier área de la ingeniería adicional a ello la prestamos servicios de ingeniería en el área de la automatización industrial.
</p>
        </div>
        <div class="col-md-5">
          <%= link_to (image_tag "ces.png", :size => "400x450", :alt => "ces", :id => "ces") %>
        </div>
      </div>
