<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= link_to (image_tag "brazo.gif", :size => "250x200", :alt => "brazo", :id => "brazo") %>
          <h2>Automatización Instrumentación y Control</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to (image_tag "commissioning.jpg", :size => "180x200", :alt => "commissioning", :id => "commissioning") %>
          <h2>Comisionamiento</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to (image_tag "aplicacion.png", :size => "180x200", :alt => "aplicacion", :id => "aplicacion") %>
          <h2>Aplicación para el Comisionamiento</h2>
          <p>CDM Commissiong Document Manager es el software que gestiona la totalidad de la información del proceso de comisionamiento en la nube de los proyectos de construcción en cualquier área de la ingeniería. Esta transformación digital se realizara mediante una app y web responsiva. Garantizando la compatibilidad,  movilidad y disponibilidad de la información del proceso de comisionamiento generando  automáticamente la caracterización de los equipos según la taxonomía utilizada en la jerarquización de los equipos bajo los lineamientos de la norma ISO-14224 de 2006, básicamente desarrolla una Base de Datos que permite el benchmarketing interno y externo en su organización.
.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->